h1 {
 color:turquoise;
 top-margin: 25pt;
}
 .tuade {
 color: turquoise;
 font-family: Arial;
 top-margin: 20pt;
 font-size: 20pt;
 font-weight: bold;
 }
.noidung {
 color: turquoise;
 font-family: Arial;
 top-margin: 20pt;
 font-size: 20pt;
 font-style: normal;
}
