h1 (
 color:turquose;
 top-margin: 25pt;
)
 .tuade {
 color: turquose;
 font-family: Arial;
 top-margin: 20pt;
 font-size: 20pt
 font-weight: bold;
 }
.noidung {
 color: turquose;
 font-family: Arial;
 top-margin: 20pt;
 font-size: 20pt
 font-style: normal;
}
